.form-container {
    padding: 20px;
}

.form-layout {
    padding-left: 20px;
    padding-right: 20px;
}

.field-spacing {
    padding: 10px;
}

.form-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: #c02328; /* Wadhwani Base Color */
}

.section-heading {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #f2682b;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px; 
    padding-left: 20px; /* Adjust the space from the left */
    
}

.submit-button-container {
    text-align: center;
    margin-top: 20px;
}

.thankyou-class{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;;
    font-family: 'Open Sans', sans-serif;
    color: #f2682b;
    font-size: 18px;

}

.form-submitted-class {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: red;
    margin-top: 20px;
}

.note-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;  /* Semi-bold for emphasis */
    color: black; 
    margin-bottom: 10px;
}