.custom-modal-container {
    max-width: 90vw;
    width: 90vw;
    height: 90vh;
}

.custom-modal-content {
    height: 75vh;
    padding: 1rem;
}

.custom-close-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.custom-close-button .close-icon {
    font-size: 1.2rem;
    color: #BF2026;
}